Repository carlocorradini/thesis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint --fix

.lintstagedrc:

{
  "*.tex": ["prettier --write"],
  "*.md": ["markdownlint --fix", "prettier --write"]
}

feat: base
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .markdownlint.json
  .markdownlintignore
  .prettierignore
  .prettierrc
  .shellcheckrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  bibliography.bib
  chapters/00/chapter1.tex
  cspell.json
  etc/abstract.tex
  etc/acknowledgements.tex
  etc/attachments.tex
  etc/cover.tex
  images/logos/unitn.png
  latexmkrc
  license.config.json
  main.tex
  output.xmpdata
  package-lock.json
  package.json
  scripts/README.md
  scripts/__commons.sh
  scripts/init.sh
  src/abstract.tex
  src/acknowledgements.tex
  src/attachments.tex
  src/chapter1.tex
  src/chapter2.tex
  src/chapter3.tex
  src/front.tex
  src/marchio_unitrento_colore_it_202002.eps
  src/surname_name_mastercourse_ay.tex
Due: prettier --write, markdownlint --fix

doc: ci badge
  README.md
Due: prettier --write, markdownlint --fix

feat: release ci and fix
  .editorconfig
  .github/dependabot.yml
  .github/workflows/ci.yml
  .markdownlint.json
  .markdownlintignore
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  bibliography.bib
  chapters/00/chapter1.tex
  cspell.json
  etc/abstract.tex
  etc/acknowledgements.tex
  etc/attachments.tex
  etc/cover.tex
  main.tex
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

fix: update ci
  .github/workflows/ci.yml
Due: none

chore(deps): update dependencies
  package-lock.json
  package.json
Due: none

fix: ci
  .github/workflows/ci.yml
Due: none

fix: files and ci
  .github/workflows/ci.yml
  README.md
  cspell.json
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

feat: distributions
  bibliography.bib
  chapters/00/chapter1.tex
  chapters/00_distributions/distributions.tex
  main.tex
Due: prettier --write

fix: ci and cspell
  .github/workflows/ci.yml
  cspell.json
Due: none

fix: ci format
  .github/workflows/ci.yml
Due: none

refactor: better distributions
  .vscode/extensions.json
  .vscode/settings.json
  chapters/00_distributions/distributions.tex
  images/logos/alpine.png
  images/logos/arch.png
  main.tex
Due: prettier --write

fix: spelling
  cspell.json
Due: none

feat: toc unfinished
  .vscode/settings.json
  chapters/00_distributions/distributions.tex
  chapters/implementation.tex
  chapters/introduction.tex
  chapters/recluster.tex
  cspell.json
  images/logos/alpine.png
  images/logos/arch.png
  images/logos/k3s.png
  images/logos/k8s.png
  images/logos/postgresql.png
  images/logos/prisma.png
  images/logos/prometheus.png
  images/recluster/cluster.png
  main.tex
Due: prettier --write

feat: finished TOC
  attachments/contributions.tex
  attachments/devops.tex
  attachments/projects.tex
  chapters/autoscaling.tex
  chapters/implementation.tex
  chapters/introduction.tex
  chapters/recluster.tex
  cspell.json
  etc/attachments.tex
  etc/conclusions.tex
  images/logos/rust.png
  main.tex
Due: prettier --write

fix: removed useless contributions
  attachments/contributions.tex
  cspell.json
Due: prettier --write

fix: minor
  chapters/implementation.tex
  etc/acknowledgements.tex
  etc/cover.tex
  images/logos/alpine.png
  images/logos/arch.png
  images/logos/k3s.png
Due: prettier --write

fix: image
  images/logos/k8s.png
  images/logos/postgresql.png
  images/logos/prisma.png
  images/logos/prometheus.png
  images/logos/rust.jpg
  images/logos/rust.png
Due: none

fix: better logos
  images/logos/arch.png
  images/logos/k3s.png
  images/logos/prisma.png
  images/logos/prometheus.png
  images/logos/rust.jpg
  images/logos/rust.png
Due: none

fix: generalities
  chapters/implementation.tex
  etc/abstract.tex
  etc/conclusions.tex
Due: prettier --write

feat: projects
  attachments/projects.tex
  bibliography.bib
  main.tex
Due: prettier --write

feat: inline poject
  attachments/projects.tex
  bibliography.bib
  cspell.json
  main.tex
Due: prettier --write

feat: better toc
  attachments/corollary_projects.tex
  attachments/devops.tex
  attachments/good_practices.tex
  attachments/upstream_contributions.tex
  bibliography.bib
  chapters/analysis.tex
  chapters/architecture.tex
  chapters/autoscaling.tex
  chapters/implementation.tex
  chapters/introduction.tex
  chapters/recluster.tex
  chapters/state_of_the_art.tex
  cspell.json
  etc/conclusions.tex
  main.tex
Due: prettier --write

feat: graphql auth directive
  attachments/corollary_projects.tex
  bibliography.bib
  main.tex
Due: prettier --write

feat: finished corollary project attachment
  attachments/corollary_projects.tex
  bibliography.bib
  cspell.json
  main.tex
Due: prettier --write

feat: architecture
  chapters/architecture.tex
  chapters/implementation.tex
  cspell.json
  images/logos/systemd.png
  images/recluster/architecture.png
  thesis.drawio
Due: prettier --write

feat: worker and contoller nodes
  bibliography.bib
  chapters/architecture.tex
  cspell.json
  images/recluster/architecture.png
  images/recluster/controller.png
  images/recluster/worker.png
  thesis.drawio
Due: prettier --write

chore: deps and ci
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

fix: prettier
  .github/workflows/ci.yml
Due: none

feat: controller node and fixed tilde
  bibliography.bib
  chapters/architecture.tex
  thesis.drawio
Due: prettier --write

feat: images
  chapters/architecture.tex
  images/recluster/cluster_autoscaler.png
  images/recluster/database.png
  images/recluster/load_balancer.png
  images/recluster/registry.png
  images/recluster/server.png
Due: prettier --write

feat: server component
  bibliography.bib
  chapters/architecture.tex
  cspell.json
Due: prettier --write

feat: database
  bibliography.bib
  chapters/architecture.tex
  cspell.json
Due: prettier --write

chore(registry): initial work
  chapters/architecture.tex
Due: prettier --write

fix: architecture image
  images/recluster/architecture.png
Due: none

feat: registry
  bibliography.bib
  chapters/architecture.tex
Due: prettier --write

chore(ca): cluster autoscaler
  bibliography.bib
  chapters/architecture.tex
Due: prettier --write

feat: cluster autoscaler
  chapters/architecture.tex
Due: prettier --write
